<h1><%= flash[:status] %></h1>
<p><%= flash[:body] %></p>

<%= form_with(model: @recipe, url: recipe_path(@recipe), method: "patch") do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.submit 'Enviar'  %>
<% end %>